* {
    box-sizing: border-box;
}

html {
    
}

body {
    padding-top: 64px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

body._loaded {
    opacity: 1;
}

.btn {
    display: inline-block;
    color: $white;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    white-space: nowrap;
    background: $main-color;
    border-radius: 33px;
    border: 2px solid $white;
    padding: 19px 45px;
    font-weight: 400;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        background: darken($main-color, 8%);
    }
}

@media (min-width: 992px) {
    body {
        padding-top: 82px;
    }

    section {
      opacity: 0;
      visibility: hidden;
      will-change: transform;
      transition: all 0.7s ease-out 0.6s;
    }

    section._animate {
      opacity: 1;
      visibility: visible;
    }
}
