* {
    box-sizing: border-box;
}

body {
    padding-top: 64px;
}

.btn {
    display: inline-block;
    color: $white;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    white-space: nowrap;
    background: $main-color;
    border-radius: 33px;
    border: 2px solid $white;
    padding: 19px 45px;
}

@media (min-width: 992px) {
    body {
        padding-top: 82px;
    }
}