$white: #fff;
$black: #000;
$main-color: #3abfb4;

$main-text-color: #677071;

$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Impact', sans-serif;

$footer-background: $main-text-color;
